<nav class="navbar navbar-expand navbar-dark bg-primary"> <!-- navbar-expand expande os itens da lista ao longo da página -->
    <a class="navbar-brand" href="/">
        WordPress
    </a>
    <ul class="navbar-nav mr-auto"> <!-- adicionando um menu a navbar -->
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <% categories.forEach(category => { %> <!-- exibindo as categorias dinâmicamente -->
            <li class="nav-item">
                <a class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a>
            </li>
        <% }) %>
    </ul>
</nav>