<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        WordPress
    </a>

    <ul class="navbar-nav mr-auto"> <!-- adicionando um menu a navbar -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
    </ul>
</nav>